/*Home css*/
/*------------------------------ First image --------------------------*/
.main{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/first.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*--------------------------- Motive ----------------------------*/
.motive{
    color: black;
}

/*------------------------ Second image---------------------------*/
.second{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/second.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}
